.pokemon-grid {
  padding-block: 20px;
  padding-inline: 40px;
  width: min(100vw, 1200px);
  min-height: 100vh;
  margin-inline: auto;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: masonry;
  gap: 20px;
}

.pokemon-grid .pokemon-grid__item {
}

.load-more {
  display: block;
  max-width: 60px;
  max-height: 60px;
  cursor: pointer;
  font-weight: 800;
  margin-inline: auto;
  text-align: center;
  margin-block: 5px;
  animation: spin 800ms linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  .pokemon-grid {
    margin-top: 120px;
  }
}

@media (max-width: 600px) {
  .pokemon-grid {
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 20px;
    gap: 10px;
  }
}
